.header-logo {
    cursor: pointer;
    background-image: url('../images/hepsiburada.png');
    height: 42px;
    min-width: 240px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 50px;
}

.search-icon {
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-size: 24px;
    float: left;
    width: 24px;
    height: 24px;
    position: absolute;
    margin: 13px 0px 13px 20px;
}