.pagination-list {
	list-style-type: none;
}

.pagination-list-item {
	width: 30px;
	height: 30px;
	display: inline-flex;
	border: 1px solid;
	border-radius: 5px;
	border-color: #d1cfc8;
	margin-left: 10px;
}

.pagination-text {
	color: grey;
	text-decoration: none;
	letter-spacing: 10px;
	text-indent: 11px;
	padding-top: 5px;
}

.pagination-text:active {
	font-weight: bold;
}