.product-image {
	height: 250px;
    border: 1px solid #d1cfc8;
    border-radius: 8px;
    display: flex;
    margin: 0px 10px 10px 10px;
	flex: 1 0 21%;
}

.product-details {
    
}

.add-to-basket {
	display: none;
}