.header-logo {
	background-image: url('./images/hepsiburada-header.png');
	height: 150px;
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 10px;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.product-list-item {
	flex: 1 0 21%;
}

.product-image {
	height: 250px;
}

.product-name {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	color: rgb(72, 72, 72);
	display: -webkit-box;
	font-size: 12px;
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
	height: 28px;
	letter-spacing: normal;
	line-height: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-brand {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	color: rgb(72, 72, 72);
	display: -webkit-box;
	font-size: 12px;
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-color {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	color: rgb(72, 72, 72);
	display: -webkit-box;
	font-size: 12px;
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 28px;
}

.title-brand-color {
	font-weight: bold;
}

.product-price {
	color: rgb(72, 72, 72);
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.36px;
	line-height: 20px;
}

.product-discount-wrapper {
	-webkit-box-align: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 16px;
	margin-top: 4px;
}

.product-sale-price {
	color: rgb(155, 155, 155);
	font-size: 14px;
	letter-spacing: -0.15px;
	line-height: 16px;
	text-decoration: line-through;
}

.product-discount {
	color: red;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: -0.13px;
	line-height: 15px;
	margin-left: 4px;
}

.pagination-list {
	list-style-type: none;
}

.pagination-list-item {
	width: 30px;
	height: 30px;
	display: inline-flex;
	border: 1px solid;
	border-radius: 5px;
	border-color: #d1cfc8;
	margin-left: 10px;
}

.pagination-text {
	color: grey;
	text-decoration: none;
	letter-spacing: 10px;
	text-indent: 11px;
	padding-top: 5px;
}

.pagination-text-active {
	font-weight: bold;
}